.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
  width: 100%;
  height: 100vh;
}
.loginCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: #282c34;
  border-width: 3px;
  background-color: bisque;
  width: 50%;
  height: 300px;
  padding: 50px;
  /* min-height: 100vh; */
}

.inset {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 70%;
}
.modal {
  position: absolute;
  background-color: white;
  top: 20%;
  left: 30%;
  height: 400px;
  width: 500px;
  border: 1px solid #000000;
  z-index: 1000;
  padding: 30px;
}
